$body: #fafafa;
$link: #3897f0;
$border: rgba(0, 0, 0, .125);
$white: #fff;
$duckyellow: rgba(255, 239, 1, .8);

.chat-window {
  background-color: $white;
  border: 1px solid $border;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 25px;
  width: 650px;
}
