.single-user {
  margin: 0 10px;
}

.user-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.userlist-profiles {
  border-radius: 50%;
  width: 50px;
}
