$border: rgba(0, 0, 0, .125);
$white: #fff;

.find-user {
  border: 0;
  border-radius: 5px;
  color: #c9c5c5;
  outline: 0;
  width: 200px;
  margin-left: 5px;
}

.find-user:focus {
  color: rgb(68, 68, 68);
}

.individual-user {
  margin: 5px;
}

.profile-images {
  border-radius: 50%;
  width: 40px;
}

.search-icon {
  color: #c9c5c5;
  font-size: 12px;
  margin: auto 5px;
}

.search-component {
  background-color: $white;
  border: 1px solid $border;
  width: 450px;
  margin-left: 5px;
  height: 400px;
  margin-top: 10px;
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

.searchbar-div {
  border: 1px solid $border;
  border-radius: 5px;
  width: 400px;
  margin-top: 10px;
}

.searched-users > div:first-child {
  margin-top: 10px;
}
